body {
    background-color: blue;
}

h1{
    background-color: pink;
}

p {
    color: yellow;
    border: solid black 2px;
    padding: 20px;
    margin: 50px;
}

#second{
    background-color: white;
    color: red;
}

.items{
    background-color: green;
    color: white;
    margin: 10px
}